
<link rel= "stylesheet" href="/stylesheets/index.css"/>

<div class="title">  
    <%= title %>

<link href='https://fonts.googleapis.com/css?family=Open+Sans:700,600' rel='stylesheet' type='text/css'>

<form method="post" action="feedback">
<div class="box">
<h1>Lee Raj COMP308-002-01</h1>

<input type="email" name="email" value="username" onFocus="field_focus(this, 'email');" onblur="field_blur(this, 'email');" class="email" />
  
<input type="password" name="pass" value="password" onFocus="field_focus(this, 'email');" onblur="field_blur(this, 'email');" class="email" />
  
<!-- <a href="#"><div class="btn">Log In</div></a> -->
 <input type="submit" value="Log In" class="btn"/>
  
</div> <!-- End Box -->
  
</form>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js" type="text/javascript"></script>

</div>