<link rel= "stylesheet" href="/stylesheets/index.css"/>


<div class="title">  
    

   <h1 style="color:black;  margin-top: 250px; "> Thank you <%= name %>  for your feedback:  <%= feedback %>.</h1> 

</div>