
<link rel= "stylesheet" href="/stylesheets/index.css"/>

<div class="title">  
    

    <h1 style="color:black;  margin-top: 250px; "> Here is the feedback for <%= title %>  </h1> 

    <h2> " <%= comments %> "<h2>

</div>